<li class="flex py-6 sm:py-10">
  <a
    href="{{ item.url | within: collections.all }}"
    class="flex-shrink-0 block"
  >
    <img
      src="{{ item | img_url: 'medium' }}"
      alt="{{ item.title | escape }}"
      class="object-cover object-center w-24 h-24 rounded-md sm:w-48 sm:h-48"
      loading="lazy"
    >
  </a>

  <div class="flex flex-col justify-between flex-1 ml-4 sm:ml-6">
    <div class="relative pr-9 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:pr-0">
      <div>
        <div class="flex justify-between">
          <h3 class="text-sm">
            <a
              href="{{ item.url | within: collections.all }}"
              class="font-medium text-gray-700 hover:text-gray-800"
            >
              {{ item.product.title }}
            </a>
          </h3>
        </div>

        <div class="flex mt-1 text-sm">
          <p class="text-gray-500">
            {{ item.variant.title }}
          </p>
        </div>

        <p class="mt-1 text-sm font-medium text-gray-900">
          {% if item.original_line_price != item.line_price %}
            <span class="mr-1 line-through">
              {{ item.price | money }}
            </span>

            {{ item.original_line_price | money }}
          {% else %}
            {{ item.price | money }}
          {% endif %}
        </p>
      </div>

      <div class="mt-4 sm:mt-0 sm:pr-8">
        <label for="updates_{{ item.key }}" class="sr-only">
          Quantity, {{ item.product.title }}
        </label>

        {% render 'cart-line-item-quantity', quantity: item.quantity, key: item.key %}

        <div class="absolute top-0 right-0">
          <a
            href="/cart/change?line={{ forloop.index }}&amp;quantity=0"
            class="inline-flex p-2 -m-2 text-gray-400 hover:text-gray-500"
          >
            <span class="sr-only">
              Remove
            </span>

            {% render 'icon-times' %}
          </a>
        </div>
      </div>
    </div>
  </div>
</li>
