<li class="flex py-6 sm:py-10">
  <div class="flex-1 min-w-0 lg:flex lg:flex-col">
    <div class="lg:flex-1">
      <div class="sm:flex">
        <div>
          <h4 class="font-medium text-gray-900">
            {{ item.title }}
          </h4>

          {% if item.product.description != '' %}
            <div class="hidden sm:prose-sm sm:prose sm:block">
              {{ item.product.description }}
            </div>
          {% endif %}
        </div>

        <p class="mt-1 font-medium text-gray-900 sm:mt-0 sm:ml-6">
          {{ item.final_price | money }}
        </p>
      </div>

      <div class="flex mt-2 text-sm font-medium sm:mt-4">
        <a
          href="{{ item.url | within: collections.all }}"
          class="text-indigo-600 hover:text-indigo-500"
        >
          View Product
        </a>

        <div class="pl-4 ml-4 border-l border-gray-200 sm:ml-6 sm:pl-6">
          <a
            href="#"
            class="text-indigo-600 hover:text-indigo-500"
          >
            Buy Again
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-shrink-0 ml-4 sm:m-0 sm:mr-6 sm:order-first">
    <img
      src="{{ item | img_url: 'medium' }}"
      alt="{{ item.title | escape }}"
      class="object-cover object-center w-20 h-20 col-start-2 col-end-3 rounded-lg sm:col-start-1 sm:row-start-1 sm:row-span-2 sm:w-40 sm:h-40 lg:w-52 lg:h-52"
      loading="lazy"
    >
  </div>
</li>

