{%- assign template_name = template | split: '/' | last -%}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">

  <title>
    {{ page_title }}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% render 'meta-tags' %}

  <script src="{{ 'theme.min.js' | asset_url }}" async></script>

  {{ 'theme.min.css' | asset_url | stylesheet_tag }}

  {% case template_name %}
    {% when 'product' %}
      <script src="{{ 'option_selection.js' | shopify_asset_url }}" async></script>
      <script src="{{ 'product.min.js' | asset_url }}" async></script>
    {% when 'account' or 'register' or 'login' or 'addresses' or 'order' %}
      {{ 'account.min.css' | asset_url | stylesheet_tag }}
    {% when 'addresses' %}
      <script src="{{ 'addresses.min.js' | asset_url }}" async></script>
  {% endcase %}

  {{ content_for_header }}
</head>
<body class="template-{{ template_name }}">
  {% section 'header' %}

  <main id="MainContent" role="main" tabindex="-1">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
</body>
</html>
